// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	color: blue;
	font-size: 2.7em;
	font-family:'Happy Monkey', cursive;
	&:hover {
		color:red;
	}
}